<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>

<body>

      <div class="container">
            <h2 id="home_articles_titles"><%= article.title %></h2>
            <br>
            <hr>
            <div class="ms-5 me-5" style="background: #e9f2f9; padding: 50px;"><%- article.body %></div>
            
      </div>

</body>

<%- include ('partials/footer.ejs') %>