<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>

   <div class="container-md">

         <h2 id="home_articles_titles"><%= article.title %></h2>
         <br>
         <hr>
         <p><%- article.body %></p>

   </div>

</body>

<%- include ('partials/footer.ejs') %>

