<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>

   <div class="container">

      <div class="text-center" id="home_title_box">
         <h1 class="display-1">Bem-vindo</h1>
         <hr>
         <p>Este é um blog de assuntos relacionados a tecnologia, mantido e escrito por João Pedro Farias.</p>
      </div>

      <% articles.forEach(article => { %>

         <h2 id="home_articles_titles"><%= article.title %></h2>
         <a href="/<%= article.slug %>">
            <button class="btn btn-success mt-2 mb-2">Ler artigo</button>
         </a>   
         <hr>
     <%})%>

     <div class="mt-5 mb-5 d-flex justify-content-between">
      <span style="display:hidden ;"></span>
      <a href="articles/page/2">
      <button class="btn btn-primary">Próximo &#129146;
      </button>
      </a>
     </div>
   </div>

</body>

<%- include ('partials/footer.ejs') %>

